<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="/static/dist/favicon.ico">
  <title>QuestionTime</title>
  <script defer="defer" src="/static/dist/js/chunk-vendors.3677f8cd.js"></script>
  <script defer="defer" src="/static/dist/js/index.dac821e6.js"></script>
  <link href="/static/dist/css/index.9c72af2c.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but QuestionTime doesn't work properly without JavaScript enabled. Please enable it
      to continue.</strong></noscript>
  <div id="app"></div>
</body>

</html>